body {    
    background-image: url("../Images/codingBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: steelblue;
    font-size: 15px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

.Source-Title {
    color: white
}

.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #216283;
    color: #ffffff;
}

.header h1 {
    font-size: 60px;
}

.header h1 .quis {
    color: #d9dcd6;
}

.header img {
    width: 200px;
    height:auto
    padding-left 20px;
}

.picture img{
    width: 300px;
    height: 300px;
    display: inline-block;
    overflow: hidden; 
}

.header nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.section {
    background-color: #216283 ;
}

.h2 {
    font-size: 42px;
    color:white;
}
.paragraph {
    color: white;
    font-size: 22px;
}

a {
    color: greenyellow;
}

.blockquote-footer {
    color:greenyellow;
}

@media screen and (max-width: 480px) {
 
    .header img {
        width: 30px;
        height:auto
    }
}
